ion-icon[name="send"] {
    color: greenyellow;
  }

capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 180px;
  }
  
@media (max-width: 767px) {
    .capacitor-google-map {
      height: 300px;
    }
  }


  